<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='chat.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <title>Chat App</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-content">
        <div>
          <h1>Chat App</h1>
          <span id="connected-users-mobile">{{ connected_users }} people connected</span>
        </div>
        <span id="clear">Clear</span>
        <ul id="nav-links">
          <li id="show-peoples"><span>Show Peoples</span></li>
          <li><a href="{{ url_for('views.logout') }}">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="grid">
      <div id="connection-info">
        <div id="number-of-people">
          <span id="connected-users"
            >{{ connected_users }} people connected</span
          >
        </div>
        <hr />
        <div class="peoples">
          <ul id="peoples">
            {% for people in peoples %}
            <li class="people" id="{{ people }}">{{ people }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div id="chat-container">
        <div id="messages"></div>
        <div id="chat-box-container">
          <input
            type="text"
            name="chat-box"
            placeholder="Type a message"
            aria-multiline="true"
            id="chat-box"
          />
          <button id="send">Send</button>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
