{% extends "base.html" %} {% block content %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Chat App</span>
  </div>
</nav>
{% for message in get_flashed_messages() %}
  <div class="alert alert-info" role="alert">
    {{message}}
  </div>
{% endfor %}
<div class="center-container">
  <img
    class="chat-img"
    src="{{ url_for('static', filename='chat_img.svg') }}"
  />
  <form class="row g-3" method="POST">
    {{ enter_form.hidden_tag() }}
    <div class="col-auto">
      {{ enter_form.username(class="form-control", placeholder="Enter Name")
      }}
    </div>
    <div class="col-auto">
      {{ enter_form.submit(class="btn btn-primary mb-3") }}
    </div>
  </form>
</div>
<script>
  function resizeInput() {
    const enterForm = document.getElementsByName("username")[0];
    if (window.innerWidth < 614) {
      enterForm.className = "w-100 form-control";
    } else {
      enterForm.className = "form-control";
    }
  }
  window.onload = resizeInput();
  window.onresize = resizeInput();
</script>
{% endblock %}
