{% extends "base.html" %} {% block content %}
<style type="text/css">
  * {
    overflow: hidden;
  }
</style>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Chat App</span>
  </div>
</nav>
<div class="center-container">
  <img
    class="chat-img"
    src="{{ url_for('static', filename='chat_img.svg') }}"
  />
  <div class="card">
    <div class="card-body">
      <form class="row g-3" method="POST">
        {{ enter_form.hidden_tag() }}
        <div class="col-auto">
          {{ enter_form.username(class="form-control", placeholder="Enter Name")
          }}
        </div>
        <div class="col-auto">
          {{ enter_form.submit(class="btn btn-primary mb-3") }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
